In [174]:
import movielens_dataset

In [175]:
movies_df = movielens_dataset.items_df()
movies_df

,movie_id,title,genres,year,original_title,imdb_id,synopsis,description,image_url,item_id
0,1,Toy Story,"[Animation, Children's, Comedy]",1995,NaN,114709,A boy called Andy Davis (voice: John Morris) u...,A cowboy doll is profoundly threatened and jea...,https://m.media-amazon.com/images/M/MV5BMDU2ZW...,1
1,2,Jumanji,"[Adventure, Children's, Fantasy]",1995,NaN,113497,The film begins in 1869 in the town of Brantfo...,When two kids find and play a magical board ga...,https://m.media-amazon.com/images/M/MV5BZTk2Zm...,2
2,3,Grumpier Old Men,"[Comedy, Romance]",1995,NaN,113228,None,John and Max resolve to save their beloved bai...,https://m.media-amazon.com/images/M/MV5BMjQxM2...,3
3,4,Waiting to Exhale,"[Comedy, Drama]",1995,NaN,114885,None,"Based on Terry McMillan's novel, this film fol...",https://m.media-amazon.com/images/M/MV5BYzcyMD...,4
4,5,Father of the Bride Part II,[Comedy],1995,NaN,113041,None,George Banks must deal not only with his daugh...,https://m.media-amazon.com/images/M/MV5BOTEyNz...,5
...,...,...,...,...,...,...,...,...,...,...
3878,3948,Meet the Parents,[Comedy],2000,NaN,212338,None,Male nurse Greg Focker meets his girlfriend's ...,https://m.media-amazon.com/images/M/MV5BMGNlMG...,3948
3879,3949,Requiem for a Dream,[Drama],2000,NaN,180093,Harry Goldfarb (Jared Leto) and Tyrone Love (M...,The drug-induced utopias of four Coney Island ...,https://m.media-amazon.com/images/M/MV5BOTdiNz...,3949
3880,3950,Tigerland,[Drama],2000,NaN,170691,"At Fort Polk, Louisiana, in September of 1971,...",A group of recruits go through Advanced Infant...,https://m.media-amazon.com/images/M/MV5BMDNjYT...,3950
3881,3951,Two Family House,[Drama],2000,NaN,202641,None,A dreamer finds that his wife and friends are ...,https://m.media-amazon.com/images/M/MV5BN2JkZj...,3951
3882,3952,"Contender, The","[Drama, Thriller]",2000,NaN,208874,None,Senator Laine Hanson is a contender for U.S. V...,https://m.media-amazon.com/images/M/MV5BYTIzYT...,3952

In [167]:
reviews_df = movielens_dataset.reviews_df()
reviews_df

         user_id  movie_id  rating           timestamp
0              1      1193       5 2000-12-31 22:12:40
1              1       661       3 2000-12-31 22:35:09
2              1       914       3 2000-12-31 22:32:48
3              1      3408       4 2000-12-31 22:04:35
4              1      2355       5 2001-01-06 23:38:11
...          ...       ...     ...                 ...
1000204     6040      1091       1 2000-04-26 02:35:41
1000205     6040      1094       5 2000-04-25 23:21:27
1000206     6040       562       5 2000-04-25 23:19:06
1000207     6040      1096       4 2000-04-26 02:20:48
1000208     6040      1097       4 2000-04-26 02:19:29

[1000209 rows x 4 columns]

In [172]:
len(reviews_df) / (reviews_df['movie_id'].nunique() * reviews_df['user_id'].nunique())

0.044683625622312845